.menu {
  display: flex;
  flex-direction: column;

  &__link {
    position: relative;
    z-index: 2;
    padding: 2rem 3rem;
    border: 1px solid #1697bf;

    width: 45rem;
    box-shadow: inset 0px 3px 3px 1px rgba(22, 151, 191, 0.6),
      0px 3px 3px 1px rgba(22, 151, 191, 0.6),
      inset 0px 6px 6px 1px rgba(22, 151, 191, 0.3),
      0px 6px 6px 1px rgba(22, 151, 191, 0.3);
    background-color: transparent;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    @media only screen and (max-width: 31.25em) {
      width: 85vw;
      max-height: 6rem;
      font-size: 1.2rem;
    }
    &:hover {
      cursor: pointer;
      box-shadow: inset 0px 0px 60px 1px rgba(22, 151, 191, 0.8),
        0px 0px 10px 1px rgba(22, 151, 191, 0.8);
    }
  }
  &__link:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__link--active {
    padding: 2rem 3rem;
    border: 1px solid #1697bf;
    cursor: pointer;
    width: 45rem;
    @media only screen and (max-width: 31.25em) {
      width: 85vw;
    }
    box-shadow: inset 0px 0px 60px 1px rgba(22, 151, 191, 0.8),
      0px 0px 10px 1px rgba(22, 151, 191, 0.8);
    background-color: transparent;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }
}
