html {
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2%;
  box-sizing: border-box;
  background-color: #16161a;
}

// canvas {
//   width: 100%;
//   height: 100%;
// }

ul {
  list-style: none;
  color: #1697bf;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
}
h1 {
  margin: 0;
}

.hidden {
  display: none;
}
